.section {
  margin-bottom: 20px;
}

.height-limit {
  max-height: 600px;
  overflow-y: scroll;
}

.link-header {
  margin: 50px 0px 20px 0px;
  font-size: 14px;
  color: #53A2FF;
  text-decoration: none;
}

.posting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 100%;
  background-color: #ffffff;
  border: rgba(0, 0, 0, 0.15) 1px solid;
  border-radius: 5px;
  padding: 15px 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.post-left {
  display: flex;
  align-items: center;
}

.post-text {
  font-size: 14px;
  color: #7A7A7A;
}

.posting-date {
  font-size: 12px;
}

.notification-circle {
  width: 18px;
  height: 18px;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  border-radius: 50%;
  background-color: rgba(253, 159, 147, 0.45);
  color: #FF1F00;
  margin-left: 5px;
}

.less {
  margin: 10px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-size: 18px;
  color: #2c2c2c;
  font-weight: 600;
}

.candidate-info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #2c2c2c;
  margin-top: 5px;
}

.info-text {
  margin-top: 5px;
}

.eligibility-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.eligibility-container .info-text {
  margin: 0;
}

.eligibility-stat {
  margin: 0 10px;
}

.met {
  color: green;
}

.unmet {
  color: red;
}

.selections {
  margin: 10px 10px 0 10px;
}

.selections-checkbox-option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox-label[disabled] {
  color: #2c2c2c;
}

.smaller {
  font-size: 10px;
}

.bold {
  font-weight: 500;
}

.response-container {
  margin: 30px 0;
}

.question-container {
  margin: 15px 0;
}

.more-space {
  margin-top: 10px;
  margin-bottom: 30px;
}

.more-padding {
  padding: 20px 35px !important;
}

.answer {
  font-size: 12px;
  color: #2c2c2c;
  line-height: 1.5;
  margin-top: 10px;
}

.notes-section {
  border-top: #7A7A7A 1px solid;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.notes {
  font-size: 12px;
  color: #2c2c2c;
  resize: none;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.save-note-button {
  margin-top: 5px;
  width: 50px;
  font-size: 10px;
  padding: 2px;
}

.save-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.primary {
  background-color: #53A2FF;
  border: rgba(0, 0, 0, 0.15) 1px solid;
  border-radius: 3px;
  color: #ffffff;
}

.applications-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.applications-header .section-header {
  margin: 0;
}

.export-button-container {
  display: flex;
  align-items: center;
}

.export-button {
  margin-left: 5px;
  border: rgba(0, 0, 0, 0.15) 1px solid;
  border-radius: 5px;
  padding: 4px 10px;
  color: #2C2C2C;
  font-size: 12px;
}

.research-title {
  font-size: 20px;
  color: #2c2c2c;
  margin: 0;
}

.research-title-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.opportunity-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-header {
  font-size: 12px;
  color: #2c2c2c;
  margin-right: 5px;
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: 1px;
}

.smaller-version {
  margin-bottom: 0;
  margin-top: 20px;
}

.smaller {
  padding: 4px 8px;
  font-size: 11px;
}

.bolded {
  font-weight: 600;
}

.text {
  font-size: 12px;
  color: #2c2c2c;
  margin: 5px 0px;
}

.bold-text {
  font-weight: 600;
  display: inline-block;
}

.warning-box {
  background-color: #FFE8E8;
  border-radius: 3px;
  border-left: #DE2020 5px solid;
  padding: 5px 10px;
  margin: 10px 0;
}

.warning {
  margin: 0;
  font-size: 11px;
  color: #600000;
}

.warning-header-text {
  display: flex;
  font-weight: 500;
}

.warning-header {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #bc0f0f;
  margin-bottom: 3px;
}

.warning-icon {
  margin-right: 5px;
}

.eligibility-icon {
  margin-right: 3px;
}

.eligibility-container-box {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  background-color: #ffffff;
  border: rgba(0, 0, 0, 0.15) 1px solid;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 20px;
}

.container-prompt {
  font-size: 12px;
  color: #2c2c2c;
  margin-bottom: 5px;
}

.condition {
  font-size: 12px;
  color: #2c2c2c;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

